/* CSS Personallié pour la popup contact */

.hidden{
    visibility: hidden; 
    display: none !important;
}

.popup-overlay{
    position:fixed;
    width:100%;
    height:100%;
    background:rgba(0, 0, 0, 0.8);
    display:flex;
    justify-content: center;
    align-items:center;
    top:0;
    left:0;
    z-index: 1000;
}

.popup-contact{
    position:relative;
    background:white;
    max-width:600px;
    width:80%;
    padding:15px 0;
    border: 5px solid #000000;
}

.popup-close{
    /* position:absolute; */
    height:110px;
    width:100%;
    cursor:pointer;
    transition:all 0.4s ease;
}

.popup-title {
    background-image: url('../img/contact.png');
    background-repeat : repeat;
    overflow : hidden;
    margin-bottom: 10px;
    width:100%;
    height: 49px;
}

/* Position des 2 bannières pour le titre */
.popup-title:first-child {
    background-position-x: left -48%;
}

.popup-title:last-child {
    background-position-x: left -33%;
}

.popup-informations {    
    display:flex;
    justify-content:center;
    align-items:center;
    padding: 5px 0 70px;
    max-width: 265px;
    margin: auto;
    border-radius: 5px;
}

.wpcf7-form {
    display: flex;
    flex-direction: column;
}

.wpcf7-form p {
    padding-top: 25px;
    /* Pour centrer le bouton, je dois le transformer en flex */
    display: flex;
    flex-direction: column; /* Dispose les éléments en colonne */
    
}

.wpcf7-form p label {
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
}

.wpcf7-form p input {
    height: 40px;
    padding: 10px;
}

.wpcf7-form p textarea {
    padding: 10px;
}

.wpcf7-form p .wpcf7-text,
.wpcf7-form p .wpcf7-email,
.wpcf7-form p textarea {
    width: 100%;
    border-radius: 8px;
    border: 1px solid #B8BBC2;
}

.wpcf7-form p .wpcf7-text:focus,
.wpcf7-form p .wpcf7-email:focus,
.wpcf7-form p textarea:focus {    
    border: 1px solid #000000;
    background-color: rgba(175, 174, 174, 0.151);
}

.wpcf7-form p .wpcf7-submit {     
    font-family: 'Space Mono', monospace;
    font-size: 12px;
    font-weight: 400;
    border: none;
    cursor: pointer;
    background-color: #D8D8D8;
    padding: 8px 15px;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.05); /* Ombre portée */
    display: block;   /* Prend toute la largeur disponible */
    margin: 10px auto; /* Centrer horizontalement */
    width: 263px; 
    height: 50px; 
    text-align: center; 
}


.wpcf7-response-output {
    width: 160%;
    transform: translate(-20%,0%);
    color: red;
}


/*  **********************************  */
/*    Media query : max-width: 780px    */
/*  **********************************  */
@media all and (max-width: 780px) {
    .popup-informations {    
        display:flex;
        justify-content:center;
        align-items:center;
        padding: 5px 20px 5px;
    }

    .popup-close {
        height: 60px;
    }

    .popup-title {        
        background-image: url('../img/contact-mini.png');
        height: 22px;
    }

    .wpcf7-response-output {
        width: 100%;        
        transform: translate(0%,0%);
        color: red;
    }

    .wpcf7-form p {
        width: 100%;
    }

    .wpcf7-form p .wpcf7-submit {
        width: 100%; /* Le bouton prend toute la largeur du conteneur */
        padding: 10px; 
        margin: 10px auto; /* Centrer verticalement */
        font-size: 16px; 
    }

    .wpcf7-form p label {
        font-family: 'Poppins', sans-serif;
        font-size: 12px;
        font-weight: 500;
        text-transform: uppercase;
        line-height: 18px;
    }
    
}