/* Partie en haut - Détail de la photo */
.photo_detail {
    width: 100%;
    max-width: 1190px;
    margin: auto;
    padding: 30px 20px 0;
    font-family: 'Space Mono', monospace;
}

.photo_detail h1 {
    color: #23282d;
    font-style: italic;
    font-weight: 400;
    font-size: 66px;
    line-height: 58px;
    width: 80%;
    padding: 40px 0;
}

.photo_detail h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2px;
}

.photo_detail a {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
}

.photo_detail .btn:hover a {
    color: #fff;
}

.photo_detail ul {
    width: 80%;
}

.photo_detail li {
    font-weight: 400; 
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}

.photo_detail .btn {
    padding: 8px 30px;
    margin-left: 30px;
    width: 142px;
    height: 38px;
}

.container__photo,
.photo__others {
    text-transform: uppercase;
}

.photo__info  {
    align-content: flex-end;
}

.photo__info--description,
.photo__info--image {
    max-height: 890px;
    width: 50%;
}

.photo__info--image {
    position: relative;
    display: flex;
    object-fit: contain;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100%;
    margin-left: 10px;
}

.photo__info--description {
    justify-content: flex-end;
    border-bottom: 1px solid #000;
}

.photo__info--description ul {
    padding-bottom: 30px;
}

.photo__info--image img {
    width: 100%;    
    height: 100%;
    transition: all 0.5s ease-in-out;
}

.photo__info--image:hover span {
    opacity: 1;
}

/* Partie centrale - Contact + photos suivantes et précédentes */
.photo__others {
    padding: 75px 0;
}

.site__navigation__prev,
.site__navigation__next {
    text-align: center;
    padding: 0 10px;
}

.site__navigation__prev .wp-post-image,
.site__navigation__next .wp-post-image {
    width: 71px;
    opacity: 0;
    transition: all 0.5s ease-in-out;
}

.site__navigation__prev:hover .wp-post-image,
.site__navigation__next:hover .wp-post-image {
    opacity: 1;
}

.photo__contact {
    padding: 20px 0 10px;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #000;
}

/* Partie basse - Autre photos de la catégorie */
.photo__others--images {
    justify-content: center;
    text-align: center;
    gap: 20px;
}

.photo__others--images .container-common {
    width: 100%;
    justify-content: center;
    align-content: center;
    gap: 20px;
    padding: 40px 10px 70px;
}

.container-common .news-info {  
    width: 100%;   
    height: 500px;  
}

.photo__others--images img { 
    /* object-fit: contain; */
    Object-fit: cover;
    width: 100%;
}

.photo__others .btn {
    margin: auto;
    width: 241px;
    padding: 6px;
    transition: all 1s ease-in-out;
}

/*  **********************************  */
/*    Media query : max-width: 959px    */
/*  **********************************  */

@media screen and (max-width: 959px) {
    .photo_detail {
        padding: 0;
    }
    
    .photo__info {
        display: flex !important;
        flex-direction: column-reverse !important;
        padding: 0 20px;
        margin: -5px;
        width: 100%;
        border-bottom: 1px solid #000;
    }
   
    .photo__info--description,
    .photo__info--image {
        margin: 0 auto;  
    }

    .photo__info--description {
        padding-bottom: 10px;
        width: 90%;
        border-bottom: 0px solid #000;
    }

    
    .photo__info--image {
        /* width: auto; */
        min-width: 265px;
    }
    
    .photo__info--image .container--image {
        width: 100%;
        /* width: auto; */
        height: 100%;
        max-height: 600px;
    }

    .photo_detail h1 {
        font-size: 46px;
        line-height: 48px;
        padding: 30px 0;
        width: 100%;
    }

    .photo_detail ul {
        width: 100%;
    }

    .photo__contact{
        justify-items: center; 
        text-align: center !important;
        justify-content: center !important;
        flex-direction: column !important;
    }

    .photo__contact p {
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .photo_detail .btn {
        margin: auto;
        margin-bottom: 20px;
    }

    .site__navigation {
        opacity: 0;
        display: none;
    }

    .photo__others {
        padding: 30px 40px;
    }

    .photo__others--images {
        gap: 0;
        padding: 0;
        width: 100%;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .photo__others--images .container-common {
        flex-direction: column;
        gap: 20px;
        padding: 30px 0 30px;
    }

    .container-common .news-info {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: auto;
        width: 80%;
        max-width: 600px;
        height: 500px;
    }
}


