.photo_detail {
    width: 100%;
    max-width: 1190px;
    margin: auto;
    padding: 30px 20px 0;
    font-family: 'Space Mono', monospace;
}

.photo_detail h1 {
    color: #23282d;
    font-style: italic;
    font-weight: 400;
    font-size: 66px;
    line-height: 58px;
    width: 80%;
    padding: 30px 0;
}

.photo_detail h2 {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    letter-spacing: 2px;
}

.photo_detail a {
    font-family: 'Space Mono', monospace;
    font-size: 14px;
    letter-spacing: 2px;
    text-decoration: none;
}

.photo_detail .btn:hover a {
    color: #fff;
}

.photo_detail ul {
    width: 80%;
}

.photo_detail li {
    font-weight: 400; 
    font-size: 14px;
    line-height: 21px;
    letter-spacing: 2px;
    padding-bottom: 10px;
}
.container__photo {
    text-transform: uppercase;
}

.photo__info  {
    align-content: flex-end;
}

.photo__info--description,
.photo__info--image {
    max-height: 890px;
    width: 50%;
}

.photo__info--description {
    justify-content: flex-end;
    border-bottom: 1px solid #000;
}

.photo__info--description ul {
    padding-bottom: 30px;
}
